* {margin:0;padding:0}
.inner_copy {border:0;color:#f00;float:left;width:50% !important;margin:-100% 0 0 0;overflow:hidden;line-height:0;padding:0;font-size:11px}
.fleft {float:left}
.fright  {float:right}
.fcenter {float:none;margin:0 auto;width:96%}
.fclear {clear:both}
body {font-family:Arial,Helvetica,sans-serif;font-size:12px;background:#ccc}
#container {width:800px;margin:auto;background:#fff}
#layoutHeader {width:800px;height:216px;background:url(images/headerBackground.jpg) no-repeat}
#layoutHeader h1 {color:#81968B;font-size:36px;font-weight:bold;padding:20px 20px 0 20px}
#layoutHeader h2 {color:#F9C61D;font-size:14px;font-weight:bold;padding:0 20px 0 20px}
#layoutHeader h1 a {color:#81968B;font-size:36px;font-weight:bold;text-decoration:none}
#layoutHeader h2 a {color:#F9C61D;font-size:14px;font-weight:bold;text-decoration:none}
#layoutCenterBody {margin:10px 10px 0 10px}
#layoutNavigation {border:1px solid #81968B;width:200px;float:left;background:#FDD51C}
#layoutNavigation .navTitle {background:#81968B;height:30px}
#layoutNavigation .navTitle h3 {color:#fff;font-size:12px;font-weight:bold;padding:6px 10px}
#layoutBodyContent {margin-left:220px}
#layoutBodyContent a {color:#7A7D5F;font-size:12px;font-weight:bold}
#layoutBodyContent h1 {color:#15190A;font-weight:bold;font-size:24px}
#layoutBodyContent h2 {color:#15190A;font-weight:bold;font-size:14px;margin-top:10px}
#layoutBodyContent p {margin-top:10px}
.clearer {clear:both;height:10px}
#footer {height:56px;background:url(images/menuBackground.gif) repeat-x;text-align:center}
#footer p {padding-top:10px;color:#fff}
#footer a {color:#fff;text-decoration:underline}
#footer a:hover {color:#000;text-decoration:none;background:#FFED58}
/* main menu begins */
#layoutMenu {height:56px;background:url(images/menuBackground.gif) repeat-x;font-weight:bold}
#layoutMenu ul {text-align:center;padding-top:17px}
#layoutMenu li {list-style:none;display:inline}
#layoutMenu li a {padding:3px 20px 3px 8px;text-decoration:none;background:url(images/mainMenuList.gif) no-repeat left 5px;font-size:12px}
#layoutMenu li a:link {color:#fff;font-weight:bold;font-size:12px}
#layoutMenu li a:visited {color:#fff}
#layoutMenu li a:hover {color:#FFF600}
/* mein menu ends */
/* left navigation menu begins */
#layoutNavigation ul {list-style-type:none;margin:10px 0}
#layoutNavigation a {display:block;width:180px;background-color:#FDD51C;border-bottom:1px dotted #5D5262;margin:7px 10px}
#layoutNavigation a:link, #layoutNavigation a:visited {color:#000;text-decoration:none}
#layoutNavigation a:hover {background-color:#81968B;color:#fff}
/* left navigation menu ends */